// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #56ABAD;
$yellow: #F1B255;
$orange: #E67E22;
$green: #32B796;
$darkgray: #4A4A4A;
$gray: #9B9B9B;
$light-gray: #FBFBFB;
$white:#FFF;
$bluegrey:#E9EEF1;
$anis:#B2D430;


