.tree {
  text-align: center;
  margin: 0;
  padding: 0;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 10px;
      width: 2px;
      background: #CCC;
      top: -20px;
    }
  }
  li {
    list-style: none;
    flex: 1;
  }
  .leaf {
    max-width: 200px;
    border: 2px solid #CCC;
    border-radius: 4px;
    padding: 8px 12px;
    text-align: center;
    display: inline-block;
    margin: 0 0px 20px 0px;
  }
  ul li {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 10px;
      top: -10px;
      left: 0%;
      border-top: 2px solid #CCC;
      border-radius: 2px;
    }
    &::before {
      content: "";
      height: 10px;
      width: 2px;
      background: #CCC;
      position: absolute;
      top: -10px;
      left: calc(50% - 1px);

    }
  }
  ul li:last-child {
    &::after {
      left: 0%;
      width: 50%;
      border-right: 2px solid #CCC;
    }
    &::before {
      content: none;
    }
  }
  ul li:first-child {
    &::after {
      left: 50%;
      width: 50%;
      border-left: 2px solid #CCC;
    }
    &::before {
      content: none;
    }
  }
}
