<div class="card-profile">
  <div class="card-profile-level">
    11
  </div>
  <div class="card-profile-avatar">
    <%= image_tag "https://unsplash.it/173/173/?random", {class: "img-circle"}%>
  </div>
  <div class="card-profile-username">
    Maxime Boue
  </div>
</div>
    <!-- cl_image_tag("lady.jpg", :transformation=>[
{:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
{:width=>200, :crop=>"scale"}
]) -->
