<div class="talents-profil">
  <div class="leaf" id="title">
    <div class="skill-component">
      <div class="skill-name">
        <h4 class="tree-type">Maîtriser</h4>
        <h4 class="tree-title">Développement Ruby</h4>
      </div>
      <div class="skill-badge tree-opened">
        <div class="badge-content-titre">
          8
        </div>
      </div>
    </div>
  </div>

  <div class="leaf" id="title">
    <div class="skill-component">
      <div class="skill-name">
        <h4 class="tree-type">Adepte</h4>
        <h4 class="tree-title">Écologie</h4>
      </div>
      <div class="skill-badge tree-opened">
        <div class="badge-content-titre">
          22
        </div>
      </div>
    </div>
  </div>
  <div class="leaf" id="title">
    <div class="skill-component">
      <div class="skill-name">
        <h4 class="tree-type">Pratiquer</h4>
        <h4 class="tree-title">Éducation positive</h4>
      </div>
      <div class="skill-badge tree-opened">
        <div class="badge-content-titre">
          6
        </div>
      </div>
    </div>
  </div>
  <div class="leaf" id="title">
    <div class="skill-component">
      <div class="skill-name">
        <h4 class="tree-type">Maîtriser</h4>
        <h4 class="tree-title">Développement Frontend</h4>
      </div>
      <div class="skill-badge tree-opened">
        <div class="badge-content-titre">
          12
        </div>
      </div>
    </div>
  </div>
  <div class="leaf" id="title">
    <div class="skill-component">
      <div class="skill-name">
        <h4 class="tree-type">Maîtriser</h4>
        <h4 class="tree-title">Globe-Trotter</h4>
      </div>
      <div class="skill-badge tree-opened">
        <div class="badge-content-titre">
          5
        </div>
      </div>
    </div>
  </div>

</div>

