<div class="skill-component">
  <div class="skill-name">
    <h4><%= skill.name %></h4>
    <!--<p><%= skill.description.html_safe %></p>-->
    <!-- description de l'arbre -->
  </div>
  <div class="skill-badge">
  </div>
</div>
