<div class="skill-component">
  <div class="skill-name">
    <h4 class="tree-type"><%= skill.action %></h4>
    <h4 class="tree-title"><%= skill.name %></h4>
    <!--<p><%= skill.description.html_safe %></p>-->
    <!-- description de l'arbre -->
  </div>
  <div class="skill-badge">
    <%= link_to '+', skill_user_skills_path(skill), method: :post %>
    <h1>7</h1>
  </div>
</div>


