<div class="talents-profil">
  <div class="talent-profil-leaf" id="talent-leaf">
    <div class="skill-component">
      <div class="skill-name">
        <h4 class="tree-type">Maîtriser</h4>
        <h4 class="tree-title">Développement Ruby</h4>
      </div>
      <div class="skill-leaf">
        <a>8</a>
      </div>
    </div>
  </div>
  <div class="talent-profil-leaf" id="talent-leaf">
  <div class="skill-component">
    <div class="skill-name">
      <h4 class="tree-type">Maîtriser</h4>
      <h4 class="tree-title">Développement Ruby</h4>
    </div>
    <div class="skill-leaf">
    <a>8</a>
    </div>
  </div>
  </div>
  <div class="talent-profil-leaf" id="talent-leaf">
  <div class="skill-component">
    <div class="skill-name">
      <h4 class="tree-type">Maîtriser</h4>
      <h4 class="tree-title">Développement Ruby</h4>
    </div>
    <div class="skill-leaf">
    <a>8</a>
    </div>
  </div>
</div>
  <div class="talent-profil-leaf" id="talent-leaf">
  <div class="skill-component">
    <div class="skill-name">
      <h4 class="tree-type">Maîtriser</h4>
      <h4 class="tree-title">Développement Ruby</h4>
    </div>
    <div class="skill-leaf">
    <a>8</a>
    </div>
  </div>
</div>
  <div class="talent-profil-leaf" id="talent-leaf">
  <div class="skill-component">
    <div class="skill-name">
      <h4 class="tree-type">Maîtriser</h4>
      <h4 class="tree-title">Développement Ruby</h4>
    </div>
    <div class="skill-leaf">
    <a>8</a>
    </div>
  </div>
</div>
</div>

