<div class="level-component">
  <div class="level-name">
    <h4>L initie</h4>
    <p>Programing Basics</p>
    <!-- description de l'arbre -->
  </div>
  <div class="level-badge">
     1<!-- level de la personne -->
  </div>
</div>
