<div class="usertree-component">
  <div class="usertree-name">
    <h4>Ruby developper </h4>
    <p>15 objectifs</p>
    <!-- description de l'arbre -->
  </div>
  <div class="usertree-badge">
     18<!-- level de la personne -->
  </div>
</div>
