<div class="tree-wrapper">
  <%= link_to "Contribuer", "#", class: "btn btn-success btn-contribuer" %>
  <ul class="tree">
    <li>
      <div class="leaf" id="title" >
        <%= render "skills/skill", skill: @root_skill, tree: @tree %>
      </div>
      <ul>
        <% @root_skill.children.each do |skill| %>
          <%= build_tree(skill) %>
        <% end %>
      </ul>
    </li>
  </ul>
</div>



