<ul class="tree">
  <li>
    <div class="leaf">
      <%= render "skills/skill", skill: @root_skill %>
    </div>
    <ul>
      <% @root_skill.children.each do |skill| %>
        <%= build_tree(skill) %>
      <% end %>
    </ul>
  </li>
  <%= link_to 'Add this Tree', tree_user_trees_path(@tree), method: :post, class: 'btn btn-success' %>
</ul>
