body{
  background-color: $bluegrey;

  background-image: url("https://res.cloudinary.com/doodlid/image/upload/v1503591900/Save images/first_life_banner_ypveh8.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 280px;
  // background: -webkit-linear-gradient(top, grey, grey 280px, white 280px, white);
}
