body{
  background-color: $bluegrey;

  background-image: url("first_life_banner.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 280px;
  // background: -webkit-linear-gradient(top, grey, grey 280px, white 280px, white);
}
