.card-index {
  background-color: rgba(0,0,0, 0.15);
  padding-bottom: 10px;
  max-height: 350px;
  width: 240px;
  margin-top: 40px;
}
.card-index-image {
  height: 280px;
  width: 100%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

}
.card-body{
  a {
    font-size: 14px;
    color: #2d2d2d;
    text-decoration: none;
  }

  a.hover {
  color: #2d2d2d;
  text-decoration: none;
  }
  margin: 10px;
}

.slogan {
  margin-top: 0px;
  font-size: 270%;
  margin-bottom: 0px;
  font-weight: 300 !important;
  line-height: 56px !important;
  letter-spacing: -0.8px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  p{
  font-size: 100%;
  color: #2d2d2d;
  text-decoration: none;
}
  p.hover {
    font-size: 100%;
    color: #2d2d2d;
    text-decoration: none;
  }

}

.card-avatar {
  background-color: white;
  padding-bottom: 0px;
  height: 245px;
  width: 214px;
  margin-top: 0px;
  border-radius: 8px;
  margin-left: 100px;
}

.card-avatar-image {
  text-align: center;
  padding-top: 40px;
}
