.user-flex-box {
  display: flex;
  justify-content: space-around;
  width: 1000px;
}
#tile {
  margin-top: 0px;
}

.user-column-2>#title {
  margin-bottom: 25px;
}
.user-column-2>.talents-profil {
  margin-top: 20px;
}

.user-column-3 {
  width: 250px;
}
.user-column-3 >.talents-tile{
  margin-bottom: 102px;
}
.card-profile {
  position: relative;
  background-color: $medium-gray;
  text-align: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;

  .card-profile-level {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 43px;
    color: $yellow;
    font-weight: bold;
    p {
      margin-bottom: 0px;
    }
    h1 {
      line-height: 10px;
      font-weight: bold;
      margin-top: 11px;
    }
  }
  .card-profile-avatar {
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-profile-username {
    background-color: #D8D8D8;
    height: 90px;
    color: #4A4A4A;
    padding: 20px;
    font-size: 18px;
  }
}
.avatar{
  height: 120px;
  width: 120px;
}
.talents-tile {
  margin-bottom: 25px;
}

.card-skill {
  background-color: #41adad;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  margin-top: 0px;
  margin-bottom: 5px;

}

.card-skill p{
  color: white;
  margin: auto auto;
  height: 30px;
  margin-top: 5px;
  font-size: 100%;
  font-weight: bold;
}
