$border-radius: 7px;
$border-width: 2px;
$border-color: black;
$leaf-margin-height: 25px;
$leaf-max-width: 400px;
$leaf-padding: 10px 20px;
$border-opacity: 0.1;

.card-index {
  background-color: rgba(0,0,0, 0.15);
  padding-bottom: 10px;
  margin-top: 40px;
}
.card-index-image {
  height: 280px;
  width: 100%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

}
.card-body{
  .card-title {
    display: inline-block;
    width: 100%;
    font-size: 19px;
    color: #2d2d2d;
    a {
      color: #2d2d2d;
      text-decoration: none;
    }
    a:hover {
      color: $anis;
      text-decoration: none;
    }
  }
  .card-contributors {
    display: inline-block;
    font-size: 15px;
    width: 100%;

    color: #2d2d2d;
    a {
      color: #2d2d2d;
      text-decoration: none;
    }
    a:hover {
      color: $anis;
      text-decoration: none;
    }
  }
  .card-subtitle {
    display: inline-block;
    font-size: 15px;
    width: 100%;

    color: gray;
  }
  margin: 10px;
}

.slogan {
  margin-top: 0px;
  font-size: 270%;
  margin-bottom: 0px;
  font-weight: 300 !important;
  line-height: 56px !important;
  letter-spacing: -0.8px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  p{
  font-size: 100%;
  color: #2d2d2d;
  text-decoration: none;
}
  p.hover {
    font-size: 100%;
    color: #2d2d2d;
    text-decoration: none;
  }

}

.card-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-bottom: 0px;
  height: 245px;
  width: 295px;
  margin-top: 0px;
  border-radius: 8px;
  margin-left: 0px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(110,110,110, 0.25);
}

// .card-avatar-image {
//   margin: 3em auto 1em auto;
//   padding-top: 40px;
//   width: 119px;
//   height: 119px;
// }

.card-avatar-name p{
  margin-top: 3px;
  margin-bottom: 9px;
  // text-align: center;
  font-size: 100%;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: black;
}

.card-avatar-name-description p{
  margin-top: -10px;
  text-align: center;
  font-size: 80%;
  color: rgb(190,190,190)
}

.card-avatar-rang{
  background-color: white;
  padding-bottom: 10px;
  max-height: 345px;
  width: 295px;
  margin-top: 30px;
  border-radius: 8px;
  margin-left: 0px;
  text-align: center;
}

.card-rang p{
  padding-top: 15px;
  font-size: 70%;
}

.card-rang-image {
  padding: 10px;
  margin-right: 10px;
  margin: auto auto;
  img {
    margin: 5px;
  }
}

.profil {
  display: block;
  max-width: 300px;
}
.talents-tile h1{
  font-size: 80%;
  color: white;
  text-align: center;
  padding-top: 25px;
}

.talents-profil{
  margin-left: 0px;
  // display: block;
}

.talent-profil-leaf{
    position: relative;
    background-color: white;
    max-width: $leaf-max-width;
    border-radius: $border-radius;
    padding: $leaf-padding;
    text-align: center;
    display: inline-block;
    margin: auto auto;
    margin-top: -80px
}

#talent-leaf{
  width: 390px;
  height: 100px;
  background-color: $white;
  border-radius: 60px;
  padding-top: 10px;
  padding-left: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 105px;
    .skill-leaf {
    width: 75px;
    height: 75px;
    background-color: $anis;
    opacity: 1;
    border-radius: 60px;
      a, h1 {
        font-size: 50px;
        color: white;
        font-family: "Open sans", Helvetica, sans-serif;
        font-weight: bold;
        color: white;
        margin: 0px;
      }
      a:hover {
        text-decoration: none;
        font-size: 55px;
      }
  }
    .badge-content-titre{
    display:block;
  }
  .badge-content{
    display:none;
  }
  .skill-name {
    width: 265px;
    height: 65px;
  }
  .tree-title {
    font-size: 16px;
    margin-top: 6px;
  }
}

.clear {

    clear: both;

}

