.card-index {
  background-color: rgba(0,0,0, 0.15);
  padding-bottom: 10px;
  max-height: 350px;
  width: 240px;
  margin-top: 40px;
}
.card-index-image {
  height: 280px;
  width: 100%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

}
.card-body{
  a {
    font-size: 14px;
    color: #2d2d2d;
    text-decoration: none;
  }

  a.hover {
  color: #2d2d2d;
  text-decoration: none;
  }
  margin: 10px;
}

.slogan {
  margin-top: 0px;
  font-size: 270%;
  margin-bottom: 0px;
  font-weight: 300 !important;
  line-height: 56px !important;
  letter-spacing: -0.8px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  p{
  font-size: 100%;
  color: #2d2d2d;
  text-decoration: none;
}
  p.hover {
    font-size: 100%;
    color: #2d2d2d;
    text-decoration: none;
  }

}

.card-avatar {
  background-color: white;
  padding-bottom: 0px;
  height: 245px;
  width: 295px;
  margin-top: 0px;
  border-radius: 8px;
  margin-left: 0px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(110,110,110, 0.25);
}

.card-avatar-image {
  margin: 3em auto 1em auto;
  padding-top: 40px;
  width: 119px;
  height: 119px;
}

.card-avatar-name p{
  margin-top: 40px;
  // text-align: center;
  font-size: 100%;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.card-avatar-name-description p{
  margin-top: -10px;
  text-align: center;
  font-size: 80%;
  color: rgb(190,190,190)
}

.card-avatar-rang{
  background-color: white;
  padding-bottom: 10px;
  max-height: 345px;
  width: 295px;
  margin-top: 30px;
  border-radius: 8px;
  margin-left: 0px;
  text-align: center;
}

.card-rang p{
  padding-top: 15px;
  font-size: 70%;
}

.card-rang-image {
  padding-top: 0px;
  margin-right: 10px;
  margin: auto auto;
}

.profil {
  display: block;
  max-width: 300px;
}

.limiter-profil-size {
  display: flex;
  width: 1038px;
  justify-content: space-around;
}

.talents-profil{
  margin-left: 30px;
  margin-top: 80px;
  display: block;
}
