.footer {
  background: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0px 50px;
  color: $anis;
  border-top: 7px solid $anis;
  font-size:25px;
  margin-top: 50px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $gray-base;
  opacity: 0.70;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: $anis;
}

.footer-copyright{
   opacity: 0.90;
}

