.badge-content-titre{
  display:none;
}
#title {
  width: 390px;
  height: 100px;
  background-color: $white;
  border-radius: 60px;
  box-shadow: 1px 1px 4px #CCD4DA;
  // padding-top: 10px;
  padding-left: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 105px;
  box-shadow: none !important;
  .skill-badge {
    width: 75px;
    height: 75px;
    background-color: $anis;
    opacity: 1;
    text-align: center;
    line-height: 70px;
      a, h1 {
        font-size: 50px;
        line-height: 70px;
        color: white;
        font-family: "Open sans", Helvetica, sans-serif;
        font-weight: bold;
        color: white;
      }
      a:hover {
        text-decoration: none;
        font-size: 55px;
        line-height: 70px;
      }
  }
  .fa-check {
    display: none;
  }
  .tree-closed {
    background-color: $anis;
  }
  .badge-content-titre{
    display:block;
    font-size: 50px;
    color: white;
    font-family: "Open sans", Helvetica, sans-serif;
    font-weight: bold;
    color: white;
  }
  .badge-content{
    display:none;
  }
  .skill-name {
    width: 265px;
    height: 65px;
  }
  .tree-title {
    font-size: 16px;
    margin-top: 6px;
  }
}
.skill-badge {
  width: 40px;
  height: 40px;
  background-color:$bluegrey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 50px;
    font-family: "Open sans", Helvetica, sans-serif;
    font-weight: bold;
    color: transparent;
  }
  .unchecked{
    color: $white;
  }
  .checked{
    color: $anis;
  }
  .fa {
    font-size: 32px;
  }
}
.skill-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill-name{
  width: 200px;
  height: 60px;
  p{
    font-size:8px;
    color:$gray;
  }
  h4{
    font-size:13px;
    color:$gray;
    text-align: left;
  }
  a {
    color: $darkgray;
  }
  .tree-title {
    margin-top: 6px;
  }
  .tree-type {
    opacity: 0.6;
    margin-bottom: 6px;
  }
}

#talent-leaf .skill-leaf a, #talent-leaf .skill-leaf h1 {
  line-height: 70px;
}


.skill-rank {
  height: 280px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 5px dotted $medium-gray;
  border-radius: 15px;
  .skill-badge {
    height: 90px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
  }
  h4.rank-type {
    font-size: 14px;
    color: $gray;
    margin-top: 12px;
    margin-bottom: 0px;
  }
  h4.rank-title {
    font-size: 22px;
    color: $darkgray;
    margin-top: 4px;
    line-height: 36px;
  }
}
