$border-radius: 7px;
$border-width: 2px;
$border-color: black;
$leaf-margin-height: 25px;
$leaf-max-width: 400px;
$leaf-padding: 10px 20px;
$border-opacity: 0.1;

.tree-wrapper {
  max-width: 970px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
.tree {
  text-align: center;
  margin: auto;
  padding: 0;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: $leaf-margin-height;
      width: $border-width;
      background: $border-color;
      opacity: $border-opacity;
      top: -($leaf-margin-height * 2);
    }
  }
  li {
    list-style: none;
    flex: 1;
  }
  .leaf {
    position: relative;
    background-color: white;
    max-width: $leaf-max-width;
    box-shadow: 1px 1px 4px #CCD4DA;
    border-radius: $border-radius;
    padding: $leaf-padding;
    text-align: center;
    display: inline-block;
    margin: 0 0 ($leaf-margin-height * 2) 0;
  }
  ul li {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: $leaf-margin-height;
      top: -$leaf-margin-height;
      left: 0%;
      border-top: $border-width solid $border-color;
      opacity: $border-opacity;
    }
    &::before {
      content: "";
      height: $leaf-margin-height;
      width: $border-width;
      background: $border-color;
      opacity: $border-opacity;
      position: absolute;
      top: -$leaf-margin-height;
      left: 50%;
      margin-left: -($border-width/2);
    }
  }
  ul li:last-child {
    &::after {
      left: 0%;
      width: 50%;
      border-right: $border-width solid $border-color;
      opacity: $border-opacity;
      border-top-right-radius: $border-radius;
    }
    &::before {
      content: none;
    }
  }
  ul li:first-child {
    &::after {
      left: 50%;
      width: 50%;
      border-left: $border-width solid $border-color;
      opacity: $border-opacity;
      border-top-left-radius: $border-radius;
    }
    &::before {
      content: none;
    }
  }
  ul li:only-child {
    &::after {
      border-top: none;
      border-right: none;
      border-radius: 0;
      border-left: $border-width solid $border-color;
      opacity: $border-opacity;
      margin-left: -($border-width/2);
    }
  }
}
